*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(194, 148, 48) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main{
    background-color: azure;
    padding: 20px;
}
.main label{
    font-size: 18px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}